@import "../../styles/variables";

@media screen {
  .radioLabel {
    font-size: 16px;
    @media (max-width: $small) {
      font-size: 14px;
    }
  }
}
.radio:checked,
.radio:not(:checked) {
  position: absolute;
  left: -9999px;
}
@media screen {
  .radio:checked + label,
  .radio:not(:checked) + label {
    position: relative;
    padding-left: 40px;
    cursor: pointer;
    line-height: 125%;
    display: inline-block;
    color: $color_secondary_text;
    margin-right: 24px;
    @media (max-width: $small) {
      padding-left: 32px;
    }
  }
}
@media screen {
  .radio:checked + label:before,
  .radio:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: -3px;
    width: 24px;
    height: 24px;
    border: 2px solid #dedede;
    border-radius: 100%;
    transition: border-color 0.3s, background-color 0.3s;
    @media (max-width: $small) {
      width: 20px;
      height: 20px;
    }
  }
}
@media screen {
  .radio:checked + label:after,
  .radio:not(:checked) + label:after {
    content: '';
    width: 12px;
    height: 12px;
    background: #ffffff;
    position: absolute;
    top: 5px;
    left: 8px;
    border-radius: 100%;
    @media (max-width: $small) {
      width: 8px;
      height: 8px;
    }
  }
}

.radio:checked + label:before {
  border: 2px solid $color_link_primary;
  background-color: $color_link_primary;
}
