@import "../../styles/variables";
@media screen {
  .btn {
    composes: ml8 from '../../styles/Main.module.scss';
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    border-radius: 8px;
    @media (max-width: $small) {
      width: 28px;
      height: 28px;
    }
    @media (max-width: $x-small) {
      width: 24px;
      height: 24px;
    }
  }
}
.icon {

}
.orange {
  background-color: $color_delete_icon_btn_bg;
  &:hover {
    background-color: $color_delete_icon_btn_bg_hover;
  }
  &:active {
    background-color: $color_delete_icon_btn_bg_active;
  }
}
.blue {
  background-color: $color_link_primary;
  &:hover {
    background-color: $color_link_hover;
  }
  &:active {
    background-color: $color_link_active;
  }
}
