@import "../../styles/variables";
@media screen {
  .customSelect {
    height: 46px;
    padding: 0;
    font-size: 16px;
    @media (max-width: $small) {
      height: 38px;
      font-size: 12px;
    }
    @media (max-width: $x-small) {
      height: 34px;
    }
    [class$="-control"] {
      height: 100%;
      background: #F8F8F8;
      border: 1px solid #F8F8F8;
      cursor: pointer;
      box-shadow: none;
      border-radius: 8px;
      transition: border-color 0.3s;
      min-height: 34px;
      &:hover {
        border: 1px solid $color_input_hover_border;

        &:focus {
          border: 1px solid $color_input_hover_border;
        }
      }

      &:focus {
        border: 1px solid $color_input_focus_border;
      }

      &:active {
        border: 1px solid $color_input_hover_border;
      }

      [class$="-singleValue"] {
        color: $color_secondary_text;
      }

      [class$="-indicatorContainer"] {
        @media (max-width: $small) {
          padding: 5px;
        }
        svg {
          fill: $color_link_primary;

          &:hover {
            fill: $color_link_hover;
          }

          &:active {
            fill: $color_link_active;
          }
        }
      }
    }

    [class$="-menu"] {
      border-radius: 8px;
      height: auto;
      z-index: 110;
      max-height: 240px;
      [class$="-MenuList"] {
        height: 100%;
        max-height: 240px;
        [class$="-option"] {
          background-color: transparent;
          cursor: pointer;
          color: $color_secondary_text;
          &:hover {
            background-color: $color_table_hover
          }
        }
      }
    }
  }
}
