@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;700;800&display=swap');
@import "variables";

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Mulish', sans-serif;
  line-height: 125%;
}

html, body, #__next {
  min-width: 320px;
  width: 100%;
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.background{
  width: 100%;
  min-width: 100%;
  background-color: $color_app_background;
}
.container {
  display: flex;
  width: 100%;
  max-width: 1440px;
  margin-right: auto;
}

main {
  width: 100%;
}
@media screen {
  header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
    margin-top: 16px;
    @media (max-width: $small) {
      margin-bottom: 8px;
      margin-top: 8px;
    }
  }
}
@media screen {
  h1 {
    font-weight: 800;
    font-size: 32px;
    line-height: 125%;
    color: $color_text_black;
    @media (max-width: $small) {
      font-size: 22px;
    }
  }
}
@media screen {
  h2 {
    margin: 8px 0;
    font-weight: 800;
    font-size: 24px;
    line-height: 125%;
    color: $color_text_black;
    @media (max-width: $small) {
      margin: 4px 0;
      font-size: 20px;
    }
  }
}
h3 {
  font-weight: 700;
  font-size: 18px;
  line-height: 133%;
  color: $color_secondary_text;
  margin: 0;
}
table,
thead,
tbody,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border-spacing: 0;
  -webkit-border-horizontal-spacing: 0;
  -webkit-border-vertical-spacing: 0;
}
tr {
  cursor: pointer;
}
tbody tr:hover {
  background-color: $color_table_hover;
}
tr:hover.isEditing {
  background-color: #ffffff;
}
td:first-child {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}
td:last-child {
  border-bottom-right-radius: 8px;
  border-top-right-radius: 8px;
}
ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}
a{
  transition: color 0.3s;
  &:hover{
    color: $color_link_hover
  }
}
@media screen {
  td, th {
    padding: 8px 12px;
    @media (max-width: $small) {
      padding: 6px 8px;
    }
    @media (max-width: $x-small) {
      padding: 6px 4px;
    }
  }
}
@media screen {
th {
  font-size: 12px;
  font-weight: 400;
  @media (max-width: $small) {
    font-size: 10px;
  }
}
}
.icon {
  margin-right: 12px;
  width: 32px;
  height: 32px;
}

.iconDefaultColor {
  .background {
    fill: $color_icon_background;
  }
  .line {
    fill: $color_icon_lines;
  }
}
.iconActiveColor {
  .background {
    fill: $color_active_icon_background;
  }
  .line {
    fill: $color_active_icon_lines;
  }
}

[class$="-menu"] {
  border-radius: 8px!important;
  height: auto;
  z-index: 110;
  max-height: 240px;
  [class$="-MenuList"] {
    height: 100%;
    max-height: 240px;
    [class$="-option"] {
      background-color: transparent!important;
      cursor: pointer;
      color: $color_secondary_text!important;
      &:hover {
        background-color: $color_table_hover!important;
        label {
          span {
            border: 2px solid $color_checkbox_border;
          }
          input:checked ~ span {
            border: 2px solid $color_link_primary;
          }
        }
      }
    }
  }
}