@import "styles/variables";

//Margin-padding classes
.p4 {
  padding: 4px;
}
.pl4 {
  padding-left: 4px;
}

.pt4 {
  padding-top: 4px;
}

.pr4 {
  padding-right: 4px;
}

.pb4 {
  padding-bottom: 4px;
}

.pv4 {
  padding-top: 4px;
  padding-bottom: 4px;
}

.ph4 {
  padding-left: 4px;
  padding-right: 4px;
}

.p8 {
  padding: 8px;
}

.pl8 {
  padding-left: 8px;
}

.pt8 {
  padding-top: 8px;
}

.pr8 {
  padding-right: 8px;
}

.pb8 {
  padding-bottom: 8px;
}

.pv8 {
  padding-top: 8px;
  padding-bottom: 8px;
}

.ph8 {
  padding-left: 8px;
  padding-right: 8px;
}

.p12 {
  padding: 12px;
}

.pl12 {
  padding-left: 12px;
}

.pt12 {
  padding-top: 12px;
}

.pr12 {
  padding-right: 12px;
}

.pb12 {
  padding-bottom: 12px;
}

.pv12 {
  padding-top: 12px;
  padding-bottom: 12px;
}

.ph12 {
  padding-left: 12px;
  padding-right: 12px;
}

.p16 {
  padding: 16px;
}

.pl16 {
  padding-left: 16px;
}

.pt16 {
  padding-top: 16px;
}

.pr16 {
  padding-right: 16px;
}

.pb16 {
  padding-bottom: 16px;
}

.pv16 {
  padding-top: 16px;
  padding-bottom: 16px;
}

.ph16 {
  padding-left: 16px;
  padding-right: 16px;
}

.p20 {
  padding: 20px;
}

.pl20 {
  padding-left: 20px;
}

.pt20 {
  padding-top: 20px;
}

.pr20 {
  padding-right: 20px;
}

.pb20 {
  padding-bottom: 20px;
}

.pv20 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.ph20 {
  padding-left: 20px;
  padding-right: 20px;
}

.p24 {
  padding: 24px;
}

.pl24 {
  padding-left: 24px;
}

.pt24 {
  padding-top: 24px;
}

.pr24 {
  padding-right: 24px;
}

.pb24 {
  padding-bottom: 24px;
}

.pv24 {
  padding-top: 24px;
  padding-bottom: 24px;
}

.ph24 {
  padding-left: 24px;
  padding-right: 24px;
}

.p28 {
  padding: 28px;
}

.pl28 {
  padding-left: 28px;
}

.pt28 {
  padding-top: 28px;
}

.pr28 {
  padding-right: 28px;
}

.pb28 {
  padding-bottom: 28px;
}

.pv28 {
  padding-top: 28px;
  padding-bottom: 28px;
}

.ph28 {
  padding-left: 28px;
  padding-right: 28px;
}

.p32 {
  padding: 32px;
}

.pl32 {
  padding-left: 32px;
}

.pt32 {
  padding-top: 32px;
}

.pr32 {
  padding-right: 32px;
}

.pb32 {
  padding-bottom: 32px;
}

.pv32 {
  padding-top: 32px;
  padding-bottom: 32px;
}

.ph32 {
  padding-left: 32px;
  padding-right: 32px;
}

.p36 {
  padding: 36px;
}

.pl36 {
  padding-left: 36px;
}

.pt36 {
  padding-top: 36px;
}

.pr36 {
  padding-right: 36px;
}

.pb36 {
  padding-bottom: 36px;
}

.pv36 {
  padding-top: 36px;
  padding-bottom: 36px;
}

.ph36 {
  padding-left: 36px;
  padding-right: 36px;
}

.m4 {
  margin: 4px;
}

.ml4 {
  margin-left: 4px;
}

.mt4 {
  margin-top: 4px;
}

.mr4 {
  margin-right: 4px;
}

.mb4 {
  margin-bottom: 4px;
}

.mv4 {
  margin-top: 4px;
  margin-bottom: 4px;
}

.mh4 {
  margin-left: 4px;
  margin-right: 4px;
}

.m8 {
  margin: 8px;
}

.ml8 {
  margin-left: 8px;
}

.mt8 {
  margin-top: 8px;
}

.mr8 {
  margin-right: 8px;
}

.mb8 {
  margin-bottom: 8px;
}

.mv8 {
  margin-top: 8px;
  margin-bottom: 8px;
}

.mh8 {
  margin-left: 8px;
  margin-right: 8px;
}

.m12 {
  margin: 12px;
}

.ml12 {
  margin-left: 12px;
}

.mt12 {
  margin-top: 12px;
}

.mr12 {
  margin-right: 12px;
}

.mb12 {
  margin-bottom: 12px;
}

.mv12 {
  margin-top: 12px;
  margin-bottom: 12px;
}

.mh12 {
  margin-left: 12px;
  margin-right: 12px;
}

.m16 {
  margin: 16px;
}

.ml16 {
  margin-left: 16px;
}

.mt16 {
  margin-top: 16px;
}

.mr16 {
  margin-right: 16px;
}

.mb16 {
  margin-bottom: 16px;
}

.mv16 {
  margin-top: 16px;
  margin-bottom: 16px;
}

.mh16 {
  margin-left: 16px;
  margin-right: 16px;
}

.m20 {
  margin: 20px;
}

.ml20 {
  margin-left: 20px;
}

.mt20 {
  margin-top: 20px;
}

.mr20 {
  margin-right: 20px;
}

.mb20 {
  margin-bottom: 20px;
}

.mv20 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.mh20 {
  margin-left: 20px;
  margin-right: 20px;
}

.m24 {
  margin: 24px;
}

.ml24 {
  margin-left: 24px;
}

.mt24 {
  margin-top: 24px;
}

.mr24 {
  margin-right: 24px;
}

.mb24 {
  margin-bottom: 24px;
}

.mv24 {
  margin-top: 24px;
  margin-bottom: 24px;
}

.mh24 {
  margin-left: 24px;
  margin-right: 24px;
}

.m28 {
  margin: 28px;
}

.ml28 {
  margin-left: 28px;
}

.mt28 {
  margin-top: 28px;
}

.mr28 {
  margin-right: 28px;
}

.mb28 {
  margin-bottom: 28px;
}

.mv28 {
  margin-top: 28px;
  margin-bottom: 28px;
}

.mh28 {
  margin-left: 28px;
  margin-right: 28px;
}

.m32 {
  margin: 32px;
}

.ml32 {
  margin-left: 32px;
}

.mt32 {
  margin-top: 32px;
}

.mr32 {
  margin-right: 32px;
}

.mb32 {
  margin-bottom: 32px;
}

.mv32 {
  margin-top: 32px;
  margin-bottom: 32px;
}

.mh32 {
  margin-left: 32px;
  margin-right: 32px;
}

.m36 {
  margin: 36px;
}

.ml36 {
  margin-left: 36px;
}

.mt36 {
  margin-top: 36px;
}

.mr36 {
  margin-right: 36px;
}

.mb36 {
  margin-bottom: 36px;
}

.mv36 {
  margin-top: 36px;
  margin-bottom: 36px;
}

.mh36 {
  margin-left: 36px;
  margin-right: 36px;
}
@media screen {
  .mobileNav {
    display: none;
    @media (max-width: $medium) {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      background-color: #ffffff;
      composes: ph24 pv12;
      box-shadow: 0 0 30px rgba(132, 132, 132, 0.25);
      z-index: 11;
    }
    @media (max-width: $small) {
      padding-left: 16px;
      padding-right: 16px;
    }
    .mobileLogo {
      height: 40px;
      margin-left: -20px;
    }
  }
}
@media screen {
  .mdBlock {
    display: none;
    @media (max-width: $medium) {
      display: block;
    }
  }
  .lgFlex {
    display: flex;
    @media (max-width: $medium) {
        display: none!important;
    }
  }
}

.block {
  background: #FFFFFF;
  box-shadow: 0 0 30px rgba(132, 132, 132, 0.25);
  border-radius: 16px;
}
.fontWeight700 {
  font-weight: 700;
}
.fontWeight800 {
  font-weight: 800;
}
@media screen {
  .darkGrayText {
    font-weight: 400;
    font-size: 14px;
    line-height: 170%;
    color: $color_dark_gray_text;
    @media (max-width: $x-small) {
      font-size: 12px;
    }
  }
}
.red {
  background-color: $color_red;
}
.redText {
  color: $color_red;
}
.yellow {
  background-color: $color_yellow;
}
.gray {
  background-color: $color_gray;
}
.green {
  background-color: $color_green;
}

//Flex classes
.flexRow {
  display: flex;
  flex-direction: row;
}
.flexRowCenter {
  composes: flexRow;
  align-items: center;
}
.flexRowJustifyEnd {
  composes: flexRow;
  justify-content: flex-end;
}
.flexRowCenterBetween {
  composes: flexRowCenter;
  justify-content: space-between;
}
.flexRowCenterCenter {
  composes: flexRowCenter;
  justify-content: center;
}
.flexColumn {
  display: flex;
  flex-direction: column;
}
.flexColumnCenter {
  composes: flexColumn;
  align-items: center;
}
.flexColumnBetween {
  composes: flexColumn;
  justify-content: space-between;
}
.flexRowEnd {
  composes: flexRow;
  align-items: flex-end;
}

.w100 {
  width: 100%;
}
.height100 {
  height: 100%;
}
.relativePos {
  position: relative;
}

.loginPage {
  composes: flexRowCenterCenter;
  height: 100%;
  position: relative;
  .logo {
    position: absolute;
    left: 5%;
    top: 5%;
    width: 150px;
  }
}
.mlAuto {
  margin-left: auto;
}
@media screen {
  .tableSearch {
    width: 280px;
    height: 40px;
    @media (max-width: $small) {
      width: 240px;
      height: 34px;
    }
    @media (max-width: $x-small + 50px) {
      margin-bottom: 16px;
    }
  }
}
.breadCrumbLink {
  color: $color_link_primary;
  text-decoration: underline;
}
@media screen {
  .subHeader {
    composes: flexRowCenterBetween mb28;
    align-items: flex-end;
    @media (max-width: $small) {
      flex-direction: column;
      align-items: flex-start;
    }
    @media (max-width: $x-small) {
      margin-bottom: 16px;
    }
  }
}
@media screen {
  .addUserBtn {
    width: 174px;
    @media (max-width: $x-small) {
      width: 144px;
    }
  }
}
.addContainerBtn {
  width: 218px;
}
@media screen {
  .tableFilters {
    composes: flexRowCenter mb20;
    justify-content: flex-end;
    @media (max-width: $x-small + 50px) {
      flex-direction: column-reverse;
      align-items: flex-end;
    }
    label {
      @media (max-width: $x-small + 50px) {
        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}
.loadMoreBtn{
  width: 118px;
  margin: 0 auto;
}
@media screen {
  .tableCellHeight {
    height: 48px;
    @media (max-width: $small) {
      height: 40px;
    }
    @media (max-width: $x-small) {
      height: 36px;
    }
  }
}


@mixin sideIndents-value() {
  margin-left: 0;
  margin-right: 24px;
  @media only screen and (max-width: $medium) {
    margin-left: 24px;
  }
  @media only screen and (max-width: $small) {
    margin-left: 16px;
    margin-right: 16px;
  }
}
.sideIndents {
  @include sideIndents-value;
}

@mixin innerIndents-value() {
  padding: 20px;
  @media only screen and (max-width: $small) {
    padding: 12px;
  }
}
.innerIndents {
  @include innerIndents-value;
}


.tableBlock {
  composes: block;
  composes: innerIndents mb28;
}
@media screen {
  .rightPanel {
    width: 100%;
    display: flex;
    flex-direction: column;
    composes: sideIndents;
    @media (max-width: $medium) {
      margin-top: 62px;
    }
  }
}



