//Containers statuses colors
$color_red: #FF3030;
$color_yellow: #F7D523;
$color_gray: #7c7b7b;
$color_green: #3AC922;


//Badge colors
$color_badge_blue: #2D5BFF;
$color_badge_green: #3AC922;


//menu-icons colors
$color_icon_background: #EFEFEF;
$color_icon_lines: #7C7B7B;
$color_active_icon_background: #2D5BFF;
$color_active_icon_lines: #FFFFFF;

$color_delete_icon_btn_bg: #FFD5BE;
$color_delete_icon_btn_bg_hover: #FFECE1;
$color_delete_icon_btn_bg_active: #FFECE1;


//Link colors
$color_link_primary: #2d5bff;
$color_link_secondary: #6284FD;

$color_link_hover: #1B4AF0;
$color_link_active: #002ED0;


//inputs colors
$color_input_background: #F8F8F8;
$color_input_hover_border: #1b4af0;
$color_input_focus_border: #FF7F37;

$color_red_button: #FF3030;
$color_red_button_hover: #ED2121;
$color_red_button_active: #d21616;

$color_lightBlue_button: #ECF0FF;

$color_checkbox_border: #ededed;


//app background
$color_app_background: #E5E5E5;


//text colors
$color_text_black: #000000;

$color_primary_text: #5c5c5c;
$color_secondary_text: #181818;
$color_gray_text: #8A8A8A;

$color_dark_gray_text: #747474;


//schemes lines color
$color_schemes_lines: #D7D7D7;


//shemes background color
$color_schemes_bg_red: #fff2f2;
$color_schemes_bg_yellow: #FFFAE1;
$color_schemes_bg_gray: $color_input_background;


$color_table_hover: #ECF0FF;


//Media break-points
$medium: 1023px;
$small: 767px;
$x-small: 459px;



