@import "../../styles/variables";
@media screen {
  .textarea {
    composes: ph16 from '../../styles/Main.module.scss';
    width: 100%;
    border-radius: 8px;
    background-color: $color_input_background;
    font-weight: 400;
    font-size: 14px;
    color: $color_dark_gray_text;
    border: none;
    resize: none;
    outline: none;
    overflow: hidden;
    height: 100%;
    @media (max-width: $small) {
      font-size: 12px;
    }
  }
}
.general {
  composes: pv28 from '../../styles/Main.module.scss';
}
.withLabel {
  composes: pt4 pb16 from '../../styles/Main.module.scss';
}
.textAreaLabel {
  color: $color_primary_text;
  font-weight: 700;
  font-size: 12px;
  line-height: 133%;
  composes: ml16 pt8 from '../../styles/Main.module.scss';
}

.textAreaWrapper {
  composes: mb24 from '../../styles/Main.module.scss';
  background-color: $color_input_background;
  border-radius: 8px;
}