@import "styles/variables";

.logoutIcon {
  cursor: pointer;
  box-sizing: content-box;
  padding: 5px 0;
  .iconInner {
    fill: $color_link_primary;
    transition: fill 0.3s;
  }
  &:hover{
    .iconInner {
      fill: $color_link_hover;
    }
  }
}
