@import "../../styles/variables";

@media screen {
  .userBlock {
    composes: block flexRowCenterBetween p12 from "../../styles/Main.module.scss";
    margin-left: auto;
    font-size: 16px;
    font-weight: 700;
    @media (max-width: $medium) {
      box-shadow: none;
      margin-left: 5%;
      padding: 0;
      font-size: 14px;
      justify-content: flex-start;
    }
  }

}
  .userName {
    composes: mr32 ml16 from "../../styles/Main.module.scss";
  }
