@import "../../styles/variables";
@media screen {
  .badge {
    display: inline-block;
    text-align: center;
    border-radius: 4px;
    color: #ffffff;
    padding: 2px 8px;
    font-size: 14px;
    @media (max-width: $small) {
      padding: 2px 6px;
      font-size: 10px;
    }
  }
}
.green {
  background-color: $color_badge_green;
}
.blue {
  background-color: $color_badge_blue;
}