@import "../../styles/variables";

@media screen {
  .containersStatusesBlock {
    composes: block flexRowCenterBetween mb28 from "../../styles/Main.module.scss";
    composes: innerIndents from "../../styles/Main.module.scss";
    width: 510px;
    @media (max-width: $small) {
      width: 327px;
    }
    @media (max-width: $x-small) {
      width: 100%;
      min-width: 100%;
    }
  }
}