@import "styles/variables";

.containersStatus {
  composes: flexColumnCenter from "../../styles/Main.module.scss";
}
@media screen {
  .statusName {
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    color: $color_secondary_text;
    @media (max-width: $small) {
      font-size: 12px;
    }
  }
}
.link {
  composes: statusName;
  color: $color_link_primary;
}
@media screen {
  .containersNumber {
    font-weight: 800;
    font-size: 24px;
    line-height: 125%;
    color: $color_primary_text;
    @media (max-width: $small) {
      font-size: 20px;
    }
  }
}
@media screen {
  .separator {
    width: 100%;
    height: 2px;
    @media (max-width: $small) {
      height: 1px;
    }
  }
}