@import '../../../styles/variables';

.ambient {
  composes: pv8 ph16 flexRowCenter from '../../../styles/Main.module.scss';
  background-color: $color_input_background;
  h6 {
    margin-bottom: 0;
  }
  >div:nth-child(2) {
    margin: 0 8px;
  }
  >div {
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}