@import "../../styles/variables";

.label {
  composes: mb8 from '../../styles/Main.module.scss';
  color: $color_text_black;
  font-size: 12px;
  font-weight: 400;
  line-height: 130%;
  display: block;
}