@import "../../styles/variables";

@media screen {
  .filed {
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    cursor: pointer;
    transition: border 0.3s;
    width: 100%;
    height: 100%;
    text-align: left;
    &:hover .outline {
      border: 1px solid $color_input_hover_border;
    }

    input {
      width: 100%;
      font-weight: 400;
      color: $color_primary_text;
      border: none;
      outline: none;
      background-color: $color_input_background;
      height: 100%;
      font-size: 14px;
      @media (max-width: $small) {
        font-size: 12px;
      }

      &:hover + .outline {
        border: 1px solid $color_input_hover_border;
      }

      &:focus + .outline {
        border: 1px solid $color_input_focus_border;
      }
    }
  }
}
@media screen {
  .fontSize16 {
    input {
      font-size: 16px;
      @media (max-width: $small) {
        font-size: 12px;
      }
    }
  }
}
.outline{
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  border: 1px solid #ffffff;
  pointer-events: none;
  border-radius: 8px;
  transition: border 0.3s;
  z-index: 10;
}
@media screen {
.big {
  input {
    padding: 16px 12px;
    font-size: 16px;
  }
}
}
@media screen {
  .medium {
    input {
      padding: 12px;
      @media (max-width: $small) {
        padding: 10px;
      }
    }
  }
}
@media screen {
  .small {
    input {
      padding: 8px 12px;
      @media (max-width: $small) {
        padding: 4px 8px;
      }
    }
  }
}
@media screen {
  .withIcon {
    &.medium {
      padding-left: 40px;
      @media (max-width: $small) {
        padding-left: 34px;
      }
    }

    &.big {
      padding-left: 50px;
    }
  }
}



