@import "../../styles/variables";
@media screen {
  .button {
    composes: flexRowCenterCenter pv12 from '../../styles/Main.module.scss';
    cursor: pointer;
    transition: color 0.3s, border 0.3s, background-color 0.3s;
    border-radius: 8px;
    font-family: 'Mulish', sans-serif;
    outline: none;
    width: 100%;
    line-height: 133%;
    font-weight: 800;
    font-size: 18px;
    @media (max-width: $small) {
      font-size: 16px;
      padding-top: 10px;
      padding-bottom: 10px;
    }
    @media (max-width: $x-small) {
      font-size: 14px;
      padding-top: 8px;
      padding-bottom: 8px;
    }
  }
}
@media screen {
  .underlined {
    text-decoration: underline;
    font-weight: 800;
    font-size: 16px;
    line-height: 125%;
    @media (max-width: $small) {
      font-size: 14px;
    }
  }
}

.white {
  color: $color_link_primary;
  background-color: #ffffff;
  border: 1px solid #FFFFFF;
  &:hover {
    border: 1px solid $color_link_hover;
    color: $color_link_hover;
  }
  &:active {
    color: $color_link_active;
    border: 1px solid $color_input_focus_border;
  }
}
//TODO добавить кнопкам именно фокус при управленнии с клавиатуры, сейчас неверно сделано
.blue {
  color: #ffffff;
  border: 1px solid $color_link_primary;
  background-color: $color_link_primary;
  &:hover {
    border: 1px solid $color_link_hover;
    background-color: $color_link_hover;
  }
  &:active {
    background-color: $color_link_active;
    border: 1px solid $color_input_focus_border;
  }
}
.red {
  color: #ffffff;
  border: 1px solid $color_red_button;
  background-color: $color_red_button;
  &:hover {
    border: 1px solid $color_red_button_hover;
    background-color: $color_red_button_hover;
  }
  &:active {
    background-color:$color_red_button_active;
    border: 1px solid $color_input_focus_border;
  }
}
.lightBlue {
  color: $color_link_primary;
  border: 1px solid $color_lightBlue_button;
  background-color: $color_lightBlue_button;
  &:hover {
    border: 1px solid $color_link_hover;
    background-color: $color_link_hover;
    color: #ffffff;
  }
  &:active {
    color: #ffffff;
    background-color: $color_link_active;
    border: 1px solid $color_input_focus_border;
  }
}
@media screen {
  .font18 {
    font-size: 18px;
    @media (max-width: $small) {
      font-size: 16px;
    }
    @media (max-width: $x-small) {
      font-size: 14px;
    }
  }
}
@media screen {
  .font16 {
    font-size: 16px;
    @media (max-width: $small) {
      font-size: 14px;
    }
  }
}
