@import "../../styles/variables";

.menuIcon {
  width: 40px;
  height: 40px;
  background-color: $color_link_primary;
  border-radius: 8px;
  transition: background-color 0.3s;
  cursor: pointer;
  &:hover {
    background-color: $color_link_hover;
  }
  &:active {
    background-color: $color_link_active;
  }
  padding: 14px 12px;
  span {
    background-color: #ffffff;
    width: 100%;
    height: 2px;
  }
}
@media screen {
  .mobileMenu {
    position: absolute;
    right: 24px;
    top: calc(100% + 8px);
    width: 280px;
    background-color: #ffffff;
    composes: p32 from '../../styles/Main.module.scss';
    box-shadow: 0 0 30px rgba(132, 132, 132, 0.25);
    border-radius: 8px;
    height: calc(100vh - 80px);
    max-height: 500px;
    min-height: 240px;
    composes: flexColumnBetween from '../../styles/Main.module.scss';
    @media (max-width: $small) {
      right: 20px;
    }
    @media (max-width: $x-small) {
      right: 16px;
    }
  }
}
