@import "../../../styles/variables";

@media screen {
  .emailLink {
    font-weight: 800;
    font-size: 16px;
    line-height: 100%;
    color: $color_link_primary;
    &:hover {
      color: $color_link_hover;
    }
    &:active {
      color: $color_link_active;
    }
    @media (max-width: $small) {
      font-size: 12px;
    }
    @media (max-width: $x-small + 50) {
      width: 100px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    @media (max-width: $x-small) {
      width: 50px;
    }
  }
}
.expandableRow{
  padding: 0;
  cursor: auto;
  z-index: 1!important;
  >td {
    padding: 0;
  }
  &:hover {
    background-color: transparent;
  }
}
