@import "../../../styles/variables";

.radioGroup {
  composes: mb20 mt4 flexRowCenter from '../../../styles/Main.module.scss';
  label:last-child {
    margin-right: 0!important;
  }
}
@media screen {
  .changeRole {
    composes: flexColumnBetween from '../../../styles/Main.module.scss';
    align-items: flex-end;
    width: 100%;
    height: 100%;
    @media (max-width: $small) {
      align-items: center;
    }
  }
}
@media screen {
  .saveBtn {
    width: 182px;
    @media (max-width: $small) {
      width: 156px;
  }

  }
}
.actions {
  height: 1px;
}
.dropdownOuter {
  position: absolute;
  width: 100%;
  height: 24px;
  background-color: $color_checkbox_border;
  z-index: 1;
  top: -24px;
}
.dropdownInner {
  background-color: #ffffff;
  height: 100%;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}