@import "../../styles/variables";

.scheme {
  position: relative;
  z-index: 2;
  background-color: #ffffff;
  composes: mb16 from '../../styles/Main.module.scss';
  font-size: 14px;
  font-weight: 400;
  color: $color_secondary_text;
  border-radius: 16px;
  flex-shrink: 0;
  flex-grow: 0;
  h6 {
    font-weight: bold;
    font-size: 18px;
    line-height: 110%;
    margin: 0;
    margin-bottom: 10px;
  }
  &.yellow {
    border: 2px solid $color_yellow;
    background-color: $color_schemes_bg_yellow;
  }
  &.gray {
    border: 2px solid $color_gray;
    background-color: $color_schemes_bg_gray;
    .incomingTemp, .pumpIcon, .outcomingTemp, .hydro, .coolerIcon {
      opacity: 0.25;
    }
  }
  &.red {
    border: 2px solid $color_red;
    background-color: $color_schemes_bg_red;
  }
  &.green {
    border: 2px solid $color_green;
    background-color: #ffffff;
  }
  .yellow {
    color: $color_yellow;
  }
  .gray {
    color: $color_gray;
  }
  .red {
    color: $color_red;
  }
  .green {
    color: $color_green;
  }
}




