@import "../../styles/variables";

.schemes {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen {
  .table {
    @media (max-width: $small) {
      flex-direction: column!important;
      align-items: center;
    }
    .col:first-child {
      margin-right: 36px;
      @media (max-width: $small) {
        margin-right: 0;
      }
    }

    .col {
      position: relative;
      .lines {
        border: 2px solid $color_schemes_lines;
        position: absolute;
        top: 45px;
        left: 50%;
        transform: translateX(-50%);
        height: calc(100% + 38px);
        border-radius: 8px;
        width: calc(100% + 16px);
        z-index: 1;
      }
    }
  }
}