@import "../../styles/variables";

@media screen {
  .form {
    width: 385px;
    @media (max-width: $x-small) {
      width: calc(100% - 32px);
    }
  }
}
@media screen {
  .field {
    composes: mb20 from '../../styles/Main.module.scss';
    height: 50px;
    @media (max-width: $small) {
      margin-bottom: 16px;
    }
  }
}
@media screen {
  .submitBtn {
    composes: mb20 from '../../styles/Main.module.scss';
    @media (max-width: $small) {
      margin-bottom: 16px;
    }
  }
}
@media screen {
  .link {
    font-size: 16px;
    line-height: 125%;
    font-weight: 800;
    color: $color_link_secondary;
    display: block;
    text-align: center;
    @media (max-width: $small) {
      font-size: 14px;
    }
  }
}