@import "../../styles/variables";
@media screen {
  .navItem {
    composes: flexRowCenter mv32 from "../../styles/Main.module.scss";
    font-size: 14px;
    font-weight: bold;
    line-height: 100%;
    position: relative;
    @media (max-width: $medium) {
      composes: mv24 from "../../styles/Main.module.scss";
    }
    &:hover {
      color: $color_link_primary;
    }
  }
}
.activeNavItem {
  composes: navItem;
  color: $color_link_primary
}