@import "../../styles/variables";
@media screen {
  .sidebar {
    position: sticky;
    left: 0;
    top: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 374px;
    background-color: white;
    margin-right: 24px;
    box-shadow: 0px 0px 30px rgba(132, 132, 132, 0.25);
    padding-bottom: 40px;
    @media (max-width: $medium) {
      display: none;
    }
  }
}
.header {
  height: 105px;
  border-bottom: 1px solid #EDEDED;
  width: 100%;
}
.logo {
  composes: mt24 from '../../styles/Main.module.scss';
  margin-left: 15%;
}
.exitBtn {
  composes: flexRowCenter from '../../styles/Main.module.scss';
  margin-left: 15%;
  cursor: pointer;
  font-weight: 700;
  font-size: 14px;
  line-height: 125%;
  color: $color_gray_text;
  transition: color 0.3s;
  &:hover {
    color: $color_link_hover;
  }
}
