@import "../../styles/variables";
@media screen {
  .badge {
    composes: p16 mr20 flexRow block from '../../styles/Main.module.scss';
    @media (max-width: $small) {
      margin-right: 12px;
      padding: 12px;
      &:last-child {
        margin-right: 0;
      }
    }
    @media (max-width: $x-small) {
      margin-right: 8px;
      padding: 8px;
    }
  }
}
@media screen {
  .icon {
    composes: mr16 from '../../styles/Main.module.scss';
    width: 48px;
    height: 48px;
    @media (max-width: $small) {
      margin-right: 12px;
      width: 40px;
      height: 40px;
    }
    @media (max-width: $x-small) {
      margin-right: 8px;
      width: 28px;
      height: 28px;
    }
  }
}
@media screen {
  .text {
    font-size: 14px;
    line-height: 125%;
    font-weight: 400;
    color: $color_link_primary;
    @media (max-width: $small) {
      font-size: 12px;
    }
  }
}
@media screen {
  .value {
    font-weight: 800;
    font-size: 24px;
    line-height: 125%;
    color: $color_dark_gray_text;
    @media (max-width: $small) {
      font-size: 20px;
    }
    @media (max-width: $x-small) {
      font-size: 14px;
    }
  }
}