@import "../../styles/variables";

@media screen {
  .badges {
    composes: flexRow from '../../styles/Main.module.scss';
    @media (max-width: $small) {
      margin-bottom: 28px;
    }
    @media (max-width: $x-small) {
      margin-bottom: 16px;
    }
  }
}
