@import '../../../styles/variables';
@media screen {
  .cool {
    composes: pv8 ph16 flexRowCenterCenter from '../../../styles/Main.module.scss';
    @media (max-width: $x-small) {
      padding-left: 8px;
      padding-right: 8px;
    }
    > div {
      flex-shrink: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    > div:nth-child(2) {
      margin: 0 16px;
      @media (max-width: $x-small) {
        margin: 0 8px;
      }
    }

    .coolers {
      display: flex;
      @media (max-width: $x-small) {
        font-size: 12px;
      }

      > div:nth-child(1) {
        margin-right: 8px;
      }

      > div {
        flex-shrink: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }
  }
}
