@import '../../../styles/variables';

.tankOuter {
  position: relative;
  z-index: 2;
  &:before, &:after {
    content: '';
    width: 8px;
    height: 2px;
    background-color: $color_schemes_lines;
    position: absolute;
    right: 100%;
    top: 50%;
    z-index: -1;
  }
  &:before {
    right: 100%;
  }
  &:after {
    left: 100%;
  }
}
.tank {
  composes: pv8 ph16 flexRowEnd from '../../../styles/Main.module.scss';
  >div:nth-child(2) {
    margin: 0 8px;
  }
  >div {
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}