@import "../../styles/variables";
.pass {
  input{
    padding-right: 44px;
  }
}
.passBtn {
  position: absolute;
  cursor: pointer;
}
@media screen {
  .showPassBtn {
    composes: passBtn;
    right: 17px;
    top: 14px;
  }
}
@media screen {
  .hidePassBtn {
    composes: passBtn;
    right: 16px;
    top: 17px;
  }
}
