@import "../../styles/variables";

.modalOverlay {
  height: 100vh;
  width: 100vw;
  z-index: 100;
  background-color: rgba(24, 24, 24, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  min-width: 320px;
  min-height: 100%;
  cursor: pointer;
}
@media screen {
  .modal {
    composes: block flexColumn from '../../styles/Main.module.scss';
    max-width: 90%;
    max-height: 99vh;
    min-width: 480px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 40px;
    text-align: left;
    overflow-y: auto;
    @media (max-width: $x-small + 53px) {
      min-width: auto;
      width: calc(100% - 32px);
      max-width: none;
      padding: 20px;
    }
  }
}
.closeIcon {
  cursor: pointer;
  opacity: 0.7;
  transition: opacity 0.3s;
  composes: p4 from '../../styles/Main.module.scss';
  box-sizing: content-box;
  &:hover {
    opacity: 1;
  }

}
.modalContent {
  font-size: 16px;
  font-weight: 400;
  line-height: 125%;
}
.deleteBtn {
  margin-bottom: 16px;
}