@import "../../styles/variables";

@media screen {
  .container {
    display: block;
    position: relative;
    padding-left: 40px;
    cursor: pointer;
    font-size: 16px;
    line-height: 125%;
    color: $color_secondary_text;
    margin-right: 32px;
    @media (max-width: $small) {
      font-size: 14px;
      margin-right: 24px;
      padding-left: 32px;
    }
  }

}
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
@media screen {
  .checkmark {
    position: absolute;
    top: -1px;
    left: 0;
    height: 24px;
    width: 24px;
    border-radius: 4px;
    border: 2px solid $color_checkbox_border;
    @media (max-width: $small) {
      height: 20px;
      width: 20px;
    }
  }
}
.container:hover input ~ .checkmark {
  border: 2px solid $color_link_hover;
}
.container:active input ~ .checkmark {
  border: 2px solid $color_link_active;
}

.container input:checked ~ .checkmark {
  background-color: $color_link_primary;
  border: 2px solid $color_link_primary;
}
.container:hover input:checked ~ .checkmark {
  background-color: $color_link_hover;
  border: 2px solid $color_link_hover;
}
.container:active input:checked ~ .checkmark {
  background-color: $color_link_active;
  border: 2px solid $color_link_active;
}
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.container input:checked ~ .checkmark:after {
  display: block;
}
@media screen {
  .container .checkmark:after {
    left: 7px;
    top: 1px;
    width: 5px;
    height: 12px;
    border: solid white;
    border-width: 0 2px 2px 0;
    border-radius: 1px;
    transform: rotate(45deg);
    @media (max-width: $small) {
      left: 5px;
      top: 1px;
      width: 4px;
      height: 10px;
    }
  }
}