.pump {
  composes: pv8 ph24 flexColumnCenter from '../../../styles/Main.module.scss';
  .inner {
    display: flex;
    flex-direction: row;
    .pumpIcon {
      margin-right: 16px;
    }
    .date {
      .preasure {
        text-align: left;
      }
      .rpm {
        text-align: right;
      }
    }
  }
}