@import "./styles/variables";

@media screen {
  .table {
    width: 100%;
    font-size: 16px;
    font-weight: 400;
    line-height: 125%;
    color: $color_primary_text;
    text-align: left;
    @media (max-width: $small) {
      font-size: 12px;
    }
    @media (max-width: $x-small) {
      font-size: 10px;
    }
  }
}
.containersUser {
  .serial {
    width: 10%;
  }

  .name {
    width: 45%;
  }

  .model {
    width: 15%;
  }

  .status {
    width: 15%;
  }

  .actions {
    width: 20%;
  }
}
@media screen {
  .usersAdmin {
    tbody {
      > tr {
        position: relative;
        z-index: 10;
      }

      tr {
        td:nth-child(4) {
          font-weight: 700;
          font-size: 16px;
          line-height: 125%;
          @media (max-width: $small) {
            font-size: 12px;
          }
          @media (max-width: $small) {
            font-size: 10px;
          }
        }
      }
    }

    .name {
      width: 30%;
      @media (max-width: $small) {
        width: auto;
      }
    }

    .email {
      width: 30%;
      @media (max-width: $small) {
        width: auto;
      }
    }

    .status {
      width: 10%;
      text-align: center;
      @media (max-width: $small) {
        width: auto;
      }
    }

    .date {
      width: 15%;
      @media (max-width: $small) {
        width: auto;
      }
    }

    .actions {
      width: 10%;
      @media (max-width: $small) {
        width: auto;
      }
    }
  }
}
@media screen {
  .dropDownTable {
    width: 100%;
    background-color: $color_checkbox_border;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;

    th {
      font-weight: 700;
      font-size: 14px;
      padding-bottom: 0;
    }

    thead {
      @media (max-width: $small) {
        display: none;
      }
    }

    tbody {
      td {
        vertical-align: top;
        @media (max-width: $small) {
          display: inline-table;
          width: 50%;
          text-align: center;
          &:first-child {
            width: 100%;
          }
        }
        @media (max-width: $x-small) {
          width: 100%;
        }
      }
    }

    tr {
      cursor: auto;
      @media (max-width: $small) {

      }
      &:hover {
        background-color: transparent;
      }
    }

    .note {
      width: auto;
    }

    .interests {
      width: 220px
    }

    .statusActions {
      text-align: right;
      width: 202px
    }
  }
}
@media screen {
  .adminContainers {
    .serial {
      width: 110px;
      @media (max-width: $small) {
        width: 80px;
      }
      @media (max-width: $x-small) {
        width: auto;
      }
    }
    .model {
      width: 190px;
      @media (max-width: $small) {
        width: 150px;
      }
      @media (max-width: $x-small) {
        width: 80px;
      }
    }

    .actions {
      width: 105px;
      @media (max-width: $small) {
        width: 80px;
      }
      @media (max-width: $x-small) {
        width: auto;
      }
    }
  }
}


